body {
    background-color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: .25in;
}

.dropdown {
    text-align: center;
}


/* purple line divider */

hr.rounded {
    border: 3px solid purple;
    border-radius: 10px;
}



/* text boxes */

.blurb {
    text-align: left;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: mediumseagreen;
}

.simpleblurb {
    text-align: left;
    padding: 10px;
    border-style: dotted;
    border-width: 2px;
    border-radius: 8px;
    border-color: lightcoral;
}
